<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
          <div class="nav-wrapper">
            <a href="{{ path('article_recent') }}" class="brand-logo">Miniblog Symfony</a>
            <ul class="right hide-on-med-and-down">

              <!-- ARTICLES -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdownArticles">Articles<i class="material-icons right"></i></a></li>

              <!-- USERS -->
              {% if app.user %}
              <li><a href="{{ path('administration') }}">Administration</a></li>
              <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
              {% else %}
              <li><a href="{{ path('user_new')}}">S'inscrire</a></li>
              <li><a href="{{ path('login')}}">Se connecter</a></li>
              {% endif %}

              <!-- CATEGORIES -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdownCategories">Catégories<i class="material-icons right"></i></a></li>

              <!-- TAGS -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdownTags">Tags<i class="material-icons right"></i></a></li>
            </ul>
          </div>
        </nav>

        <!-- Dropdown articles -->
        <ul id="dropdownArticles" class="dropdown-content">
          {% if app.user %}
          <li><a href="{{ path('article_new') }}">Nouvel article</a></li>
          <li class="divider"></li>
          {% endif %}
          <li><a href="{{ path('article_recent' )}}">Les derniers articles</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('article_index')}}">Tous les articles</a></li>
        </ul>


        <!-- Dropdown categories -->
        <ul id="dropdownCategories" class="dropdown-content">
          {% if app.user %}
          <li><a href="{{ path('category_new') }}">Nouvelle catégorie</a></li>
          <li class="divider"></li>
          {% endif %}
          <li><a href="{{ path('category_index' )}}">Voir toutes les catégories</a></li>
        </ul>


        <!-- Dropdown tags -->
        <ul id="dropdownTags" class="dropdown-content">
          {% if app.user %}
          <li><a href="{{ path('tag_new') }}">Nouveau tag</a></li>
          <li class="divider"></li>
          {% endif %}
          <li><a href="{{ path('tag_index' )}}">Voir tous les tags</a></li>
        </ul>

        {% block body %}

        {% endblock %}
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
        <script>
            $(document).ready(function() {
              $('select').material_select();

              $('.datepicker').pickadate({
                  selectMonths: true,
                  selectYears: 15,
                  format: 'yyyy-mm-dd'
              });
            });
        </script>


        {% endblock %}
    </body>
</html>
