{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article creation</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_label(form.name, 'Titre de l\'article', {'label_attr': {'class':''}}) }}
        {{ form_widget(form.name) }}


        <div class="input-field col s12">
        {{ form_label(form.content, 'Votre article',
            {'attr': {
        }}) }}

        {{ form_widget(form.content,
            {'attr': {
                'class':'materialize-textarea',
        }})
        }}
        </div>

        {{ form_label(form.date, 'Date de publication') }}
        {{ form_widget(form.date, {'attr': {'type': 'date'}}) }}


        {{ form_label(form.category, 'Catégorie de l\'article') }}
        {{ form_widget(form.category) }}

        Tags
        {{ form_label(form.tags, 'Tags') }}
        {{ form_widget(form.tags) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
