{% extends 'base.html.twig' %}

{% block body %}
    <h3>Les derniers articles</h3>

    {{ form_start(searchByTagForm)}}
        {{ form_errors(searchByTagForm)}}
    {{ form_end(searchByTagForm)}}

    <ul>
      {% for article in lastFiveArticles %}
        <li>
          <a href="{{ path('article_show', {'id':article.id}) }}">  {{ article.name }} </a>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
