{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ article.name }}</h3>
    <p>Publié le : {% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %} </p>
    <table>
        <tbody>
            <tr>
                <th>Tags</th>
                <td>
                {% for tag in article.tags %}
                  {{ tag.name }}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Categ. : </th>
                <td>
                  <a href="{{ path('category_show', {'id': article.category.id}) }}">
                    {{ article.category.name }}
                  </a>
                </td>
            </tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
        </tbody>
    </table>

    {% if article.comments|length > 0 %}
    <p>Commentaires : </p>
      <ul>
      {% for comment in article.comments %}
        <li> Le {{comment.date|date("d/m/y")}} : {{ comment.content }} </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>Aucun commentaire.</p>
    {% endif %}

    <ul>
      <li>
          <a href="{{ path('comment_new', {'idArticle': article.id}) }}">Commenter</a>
      </li>


        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>

        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
